<head><title>RB's Pizza Palace | About</title></head>
<center>
    <div class="body">
        <div class="head">
            <div class="welcome">
                <span class="i">About </span><span class="l">RB's </span><span class="t">Pizza Palace.</span>
            </div>
        </div>
        <div id="navbar">
            <a href='/'>Home</a>
            <a href='/menu'>Menu</a>
            <a href='/about' class="active">About Us</a>
        </div>
        <div class="content">
            <div class="box1">
                Hello welcome to my wonderful Pizza Pallace Thank you for visiting!
            </div>
            <div class="box2">
                Hello welcome to my wonderful Pizza Pallace Thank you for visiting!
            </div>
            <div class="box1">
                Hello welcome to my wonderful Pizza Pallace Thank you for visiting!
            </div>
            <div class="box2">
                Hello welcome to my wonderful Pizza Pallace Thank you for visiting!
            </div>      
        </div>
    </div>
</center>