<head><title>RB's Pizza Palace | Menu</title></head>
<center>
    <div class="body">
        <div class="head">
            <div class="welcome">
                <span class="l">RB's </span><span class="t">Prices </span><span class="i">Are Fair!</span>
            </div>
        </div>
        <div id="navbar">
            <a href='/'>Home</a>
            <a href='/menu' class="active">Menu</a>
            <a href='/about'>About Us</a>
        </div>
        <div class="content">
            <div class="box1">
                <span>Meat Toppings:</span><br>
                Pepperoni : $0.50<br>
                Sausage : $0.50<br>
                Bacon : $0.50<br>
                Ham : $0.50
            </div>
            <div class="box2">
                <span>Veggetable Toppings:</span><br>
                Onions : $0.25<br>
                Banana Peppers : $0.25<br>
                Olives : $0.25<br>
                Mushrooms : $0.25
            </div>
            <div class="box1">
                <span>Sizes:</span><br>
                8 inch Pizza : $7.00<br>
                16 inch Pizza : $10.00<br>
                32 inch Pizza : $13.00
            </div>
            <div class="box2">
                <span>Crusts:</span><br>
                Pan : $1.50<br>
                Stuffed Crust : $2.00<br>
                Thin Crust : $1.00<br>
                Deep Dish : $2.50
            </div>
            <div class="box3">
                <span>Sauces:</span><br>
                Marinara : $0.10<br>
                Barbecue : $0.10<br>
                Garlic Butter : $0.10<br>
                Sauceless : $-0.10<br>(None)(You Save 10 cents)
            </div>
        </div>
    </div>
</center>