<head><title>RB's Pizza Palace | Order</title></head>
<center>
    <div class="body">
        <div class="head">
            <div class="welcome">
                <span class="t">Your </span><span class="i">Order </span><span class="l">Bellow!</span>
            </div>
        </div>
        <div id="navbar">
            <a href='/'>Home</a>
            <a href='/menu'>Menu</a>
            <a href='/about'>About Us</a>
        </div>
        <div class="content">
            <div class="orderBox" id="deli">
                <input type="button" id="delivery" onclick="showOrderDelivery()">
                <label for="delivery">Delivery?</label>
            </div>
            <div class="orderBox" id="carry">
                <input type="button" id="carryOut" onclick="showOrder()">
                <label for="carryOut">Carry Out?</label>
            </div>
            <div id="deliverBox" style="display: none;">
                <input type="text" id="name" name="name" placeholder="Your Name">
                <input type="text" id="street" name="street" placeholder="Street Address">
                <input type="text" id="phone" name="phone" placeholder="Phone Number">
                <input type="number" id="mile" name="mile" placeholder="Estimated Mile(s)"><br>
                <input type="button" id="mileCalc" onclick="calcM()">
                <label for="mileCalc">See Total</label>
            </div>
            <div class="postOrder" id="order">
                <%=order%>
                <span id="price"><%=price%></span>
            </div>
        </div>
    </div>
</center>