html{
    font-size: 10px;
}
body{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}
.head{
    height: 18rem;
    background-image: url("/images/pizzaTitle.jpg");
    background-position: center;
    background-size: cover;
    padding: 1.5em;
}
.body{
    /* background-image: url("/images/goat.jpg"); */
    background-position: center;
    background-size: cover;
}
.welcome{
    font-family: serif;
    font-weight: 500;
    font-size: 7.5rem;
    display: inline-block;
}
.t{
    color: #3dad21;
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}
.i{
    color: #ffffff;
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}
.l{
    color: #cc0909;
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}
#navbar{
    overflow: hidden;
    background-color: #000000c4;
    padding-left: 26em;
    font-weight: 500;
}  
#navbar a{
    color: #f2f2f2;
    background-color: #cc0909c4;
    float: left;
    display: block;
    border: none;
    text-align: center;
    padding: 1.4em 1.6em;
    text-decoration: none;
    font-size: 1.7rem;
}
#navbar a:hover{
    background-color: #3fca1dc4;
    color: black;
}  
#navbar a.active{
    background-color: #3dad21c4;
    color: white;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.content{
    font-size: 5rem;
    padding: 2rem 10rem;
}
.box1{
    background-color: #cc0909c4;
    border: 5px solid #a5a5a5c4;
    box-shadow: 5px 3px 10px #000000;
    border-radius: 3rem;
    width: 45%;
    margin: 2rem 0.5rem;
    padding: 1rem;
    display: inline-block;
}
.box2{
    background-color: #3fd819c4;
    border: 5px solid #a5a5a5c4;
    box-shadow: 5px 3px 10px #000000;
    border-radius: 3rem;
    width: 45%;
    margin: 2rem 0.5rem;
    padding: 1rem;
    display: inline-block;
}
.box3{
    color: #cc0909;
    background-color: #a5a5a5c4;
    border: 5px solid #3fd819c4;
    box-shadow: 5px 3px 10px #000000;
    border-radius: 3rem;
    width: 70%;
    margin: 2rem 0.5rem;
    padding: 3rem 1rem;
    display: inline-block;
}
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: #000000; /* Fallback color */
    background-color: #00000066; /* Black w/ opacity */
}
.modal-content {
    background-color: #cdcf28;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 80%;
    border-radius: 3rem;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 3rem;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.submitBox {
    display: inline-block;
    position: relative;
    margin: auto;
    height: auto;
    width: 40%;
    padding: 2rem;
}
.submitBox input[type=submit] {
    position: absolute;
    visibility: hidden;
}
.submitBox label {
    color: #cdcf28;
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 40px;
    margin: 5px auto;
    height: 50px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}
.submitBox .circle {
    display: block;
    position: absolute;
    content: '';
    text-align: center;
    line-height: 230px;
    background-color: #cc0909;
    border: 8px solid #ffffff;
    border-radius: 100%;
    height: 230px;
    width: 260px;
    top: 40%;
    left: 30%;
    z-index: 5;
    cursor: pointer;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.submitBox .circle:hover {
    background-color: #40c71e;
}
.submitBox .circle:hover label {
    color: #cc0909;
}
.topBox {
    display: inline-block;
    position: relative;
    margin: auto;
    height: auto;
    width: 40%px;
    padding: 2rem;
}
.topBox ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* overflow: auto; */
}
.topBox ul li{
    color: #40c71e;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ffffff;
} 
.topBox ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
} 
.topBox ul li label{
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 40px;
    margin: 5px auto;
    height: 50px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
} 
.topBox ul li:hover label{
    color: #FFFFFF;
} 
.topBox ul li .check{
    display: block;
    position: absolute;
    border: 5px solid  #40c71e;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 10px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
} 
.topBox ul li:hover .check {
    border: 5px solid #FFFFFF;
}
.topBox ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}  
input[type=radio]:checked ~ .check {
    border: 5px solid #cc0909;
} 
input[type=radio]:checked ~ .check::before{
    background: #cc0909;
} 
input[type=radio]:checked ~ label{
    color: #cc0909;
}
.centerBox {
    display: inline-block;
    position: relative;
    margin: auto;
    height: auto;
    width: 40%;
    padding: 2rem;
}
.centerBox ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* overflow: auto; */
}
.centerBox ul li{
    color: #40c71e;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ffffff;
} 
.centerBox ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
} 
.centerBox ul li label{
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 40px;
    margin: 5px auto;
    height: 50px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
} 
.centerBox ul li:hover label{
    color: #FFFFFF;
} 
.centerBox ul li .check{
    display: block;
    position: absolute;
    border: 5px solid  #40c71e;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 10px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
} 
.centerBox ul li:hover .check {
    border: 5px solid #FFFFFF;
}
.centerBox ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.bottomBox {
    display: inline-block;
    position: relative;
    margin: auto;
    height: auto;
    width: 40%;
    padding: 2rem;
}
.bottomBox ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* overflow: auto; */
}
.bottomBox ul li{
    color: #40c71e;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ffffff;
} 
.bottomBox ul li input[type=checkbox]{
    position: absolute;
    visibility: hidden;
} 
.bottomBox ul li label{
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 40px;
    margin: 5px auto;
    height: 50px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
} 
.bottomBox ul li:hover label{
    color: #FFFFFF;
} 
.bottomBox ul li .check{
    display: block;
    position: absolute;
    border: 5px solid  #40c71e;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 10px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
} 
.bottomBox ul li:hover .check {
    border: 5px solid #FFFFFF;
}
.bottomBox ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
input[type=checkbox]:checked ~ .check {
    border: 5px solid #cc0909;
} 
input[type=checkbox]:checked ~ .check::before{
    background: #cc0909;
} 
input[type=checkbox]:checked ~ label{
    color: #cc0909;
} 
.selectText {
    font-weight: 500;
    font-size: 4rem;
    color: #ffffff;
}
.makePizzaBox {
    display: inline-block;
    position: relative;
    margin: 5px;
    height: auto;
    width: 40%;
    padding: 2rem;
}
.makePizzaBox input[type=button] {
    position: absolute;
    visibility: hidden;
}
.makePizzaBox label {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 40px;
    margin: 5px auto;
    height: 50px;
    cursor: pointer;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}
.postOrder {
    display: none;
}
.pepp {
    background-image: url('/images/pepperoni.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.saus {
    background-image: url('/images/sausage.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.bacon {
    background-image: url('/images/bacon.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.ham {
    background-image: url('/images/ham.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.oni {
    background-image: url('/images/onion.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.bp {
    background-image: url('/images/bp.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.oli {
    background-image: url('/images/olive.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.mush {
    background-image: url('/images/mushroom.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.mar {
    background-image: url('/images/ms.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.bar {
    background-image: url('/images/bs.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.gbs {
    background-image: url('/images/gb.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.sauceless {
    background-image: url('/images/saucless.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.pan {
    background-image: url('/images/pan.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.sc {
    background-image: url('/images/sc.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.tc {
    background-image: url('/images/tc.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.dd {
    background-image: url('/images/dd.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}